.wrapper {
    width: 360px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
}
.loginBlock {
    border-top: 1px solid #e3e3e4;
    padding: 20px 8px 24px;
}
.desc {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 2.2rem;
    margin-bottom: 20px;
}
